.container {
	display: flex;
	color: #002774;
	width: 100vw;
}

.barhover {
	position: relative;
	background-color: #002774;
}

.tab {
	flex-grow: 1;
	flex-basis: auto;
	margin: auto;
	border: solid #002774 1px;
	text-align: center;
}
